<p id="notice"><%= notice %></p>

<h2>Check These Buses Out!</h2>

<h3 class = "text-muted">Your current location</h3>

<p class = "text-muted">
  <%= @location.full_street_address %> <small><%= link_to fa_icon('pencil', text: "Edit"), edit_location_path(@location) %></small>

</p>

<h3>The Closest Buses Are:</h3>
<% @buses.each do |bus|%>
  <div class = 'well'>
    <strong>Route: </strong><%= bus ["ROUTE"] %> <%= bus ["DIRECTION"] %> <br>
    <strong>Bus Number: </strong> <%= bus ["VEHICLE"] %> <br>
    <strong>Next Stop: </strong> <%= bus ["TIMEPOINT"] %>
  </div>
<% end %>

<% if @buses.empty? %>
  <h3 class = "text-center">...unfortunately, not that close. Now is probably a good time to walk, buke, taxi, uber, hoverboard, or <%= link_to 'change your location', edit_location_path(@location) %></h3>
<% end %>
















